<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/95e910f9-7fcb-4fb8-90a1-d81f3d52cfa9/resourceGroups/TrailRG/providers/Microsoft.ContainerRegistry/registries/maerskcontainerregistry123</ResourceId>
    <ResourceName>maerskcontainerregistry123</ResourceName>
    <ResourceGroup>TrailRG</ResourceGroup>
    <Subscription>SauravSubscription</Subscription>
    <RegistryUrl>https://maerskcontainerregistry123.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>56bc8511-d8c1-4005-9054-c1e787800fea</ProjectGuid>
  </PropertyGroup>
</Project>